################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WorkingDays
/WorkingDays/bin/Debug
/WorkingDays/obj/Debug
